<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <h2>You Suck</h2>
    {{ count }}
    <ul>
      {% for order in orders %}
      <li>{{ order.id }} - {{ order.customer.first_name }}</li>
      {% endfor %} {% for customer in customers %}
      <li>{{ customer.full_name }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
